# Imports

In [1]:
from models.dataset import Dataset
import h2o

# Data Loading

In [2]:
sentiment = Dataset("data/sentiment-analysis.csv")

In [3]:
sentiment.head()

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!"", Positive, Twitter, 202...",NaN,NaN,NaN,NaN,NaN,NaN
1,"""The service was terrible."", Negative, Yelp Re...",NaN,NaN,NaN,NaN,NaN,NaN
2,"""This movie is amazing!"", Positive, IMDb, 2023...",NaN,NaN,NaN,NaN,NaN,NaN
3,"""I'm so disappointed with their customer suppo...",NaN,NaN,NaN,NaN,NaN,NaN
4,"""Just had the best meal of my life!"", Positive...",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sentiment.columns()

['Text',
 ' Sentiment',
 ' Source',
 ' Date/Time',
 ' User ID',
 ' Location',
 ' Confidence Score']